# Config for CausVid inverse problem training - Inpainting
model_name: wan
generator_name: causal_wan
# generator_ckpt: "./checkpoints/autoregressive_checkpoint/model.pt"
generator_ckpt: "./outputs/wan_causal_inverse_inpainting/2025-08-28-09-12-44.201838_seed1316780/checkpoint_model_000500/model.pt"
generator_fsdp_wrap_strategy: size
real_score_fsdp_wrap_strategy: size
fake_score_fsdp_wrap_strategy: size
text_encoder_fsdp_wrap_strategy: size

generator_grad:
  model: true
real_score_grad:
  model: false
fake_score_grad:
  model: true

denoising_step_list:
- 1000
- 757
- 522
- 0
num_train_timestep: 1000
timestep_shift: 8.0
real_guidance_scale: 3.5

generator_task: causal_video
real_task_type: bidirectional_video
fake_task_type: bidirectional_video
denoising_loss_type: flow

mixed_precision: true
seed: 0

wandb_host: WANDB_HOST
wandb_key: WANDB_KEY
wandb_entity: tyin
wandb_project: causvid_inverse
wandb_name: wan_causal_inverse_inpainting

sharding_strategy: no_shard
optimizer: adamw
lr: 1.0e-05
beta1: 0.9
beta2: 0.999

# dataset
data_path: "data/mixkit_latents_inpainting_mask0p5_lmdb"
batch_size: 2
log_iters: 100
negative_prompt: 色调艳丽，过曝，静态，细节模糊不清，字幕，风格，作品，画作，画面，静止，整体发灰，最差质量，低质量，JPEG压缩残留，丑陋的，残缺的，多余的手指，画得不好的手部，画得不好的脸部，畸形的，毁容的，形态畸形的肢体，手指融合，静止不动的画面，杂乱的背景，三条腿，背景人很多，倒着走

dfake_gen_update_ratio: 5
image_or_video_shape:
- 1
- 21
- 16
- 60
- 104

output_path: ./outputs/wan_causal_inverse_inpainting

# trainer
distillation_loss: dmd
gradient_checkpointing: true
backward_simulation: false
num_frame_per_block: 3
warp_denoising_step: false
compile_model: false

# inverse problem settings
inverse_problem_type: inpainting
mask_ratio: 0.5
use_predegraded_dataset: true
dmd_inpainting_masked_only: true

# losses
measurement_consistency_weight: 1.0
use_gt_consistency: true
dmd_warmup_steps: 500

gradient_clip_norm: 1.0
ema_decay: 0.999